<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Nueva orden de compra</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h2>Generar una Orden de Compra</h2>
        <form id="mainForm" th:action="@{/ordenDeCompra/generar}" th:object="${ordenDeCompra}" method="post">
            <div style="display: flex;">
                <div class="mb-3" style="width: 33%; margin-left: auto; margin-right: auto;">
                    <label for="idProveedor" class="form-label">Proveedor</label>
                    <select th:field="*{idProveedor}" class="form-control">
                        <option th:each="proveedor : ${proveedores}" th:value="${proveedor.id}"
                            th:text="${proveedor.nombreProveedor}">Proveedor</option>
                    </select>
                </div>
                <div class="mb-3" style="width: 33%; margin-left: auto; margin-right: auto;">
                    <label for="idEOC" class="form-label">Estado Orden de Compra</label>
                    <select th:field="*{idEOC}" class="form-control">
                        <option th:each="estado : ${estadoOrdenCompra}" th:value="${estado.id}"
                            th:text="${estado.nombreEOC}">Estado</option>
                    </select>
                </div>
                <div class="mb-3" style="width: 33%; margin-left: auto; margin-right: auto;">
                    <label for="tamanoLote" class="form-label">Tamaño del Lote</label>
                    <input type="number" class="form-control" id="tamanoLote" th:field="*{tamanoLote}" required>
                </div>
            </div>

            <div class="mt-2">
                <h4>Agregar Artículos</h4>
                <div class="mt-4" style="display: flex; align-items: flex-end;">
                    <div class="mb-3" style="width: 10%; margin-left: auto; margin-right: auto; padding-right: 0.5%;">
                        <label for="cantidad" class="form-label">Cantidad</label>
                        <input type="number" class="form-control" id="cantidad" value="1">
                    </div>
                    <div class="mb-3" style="width: 60%; margin-left: auto; margin-right: auto; padding-right: 0.5%;">
                        <label for="idArticulo" class="form-label">Artículo</label>
                        <select id="idArticulo" class="form-control" onchange="actualizarPrecio()">
                            <option value="">--Seleccione un artículo--</option>
                            <option th:each="articulo : ${articulos}" th:value="${articulo.id}"
                                    th:data-precio="${articulo.precio}"
                                    th:text="${articulo.nombreArticulo}">Artículo</option>
                        </select>
                    </div>
                    <div class="mb-3" style="width: 15%; margin-left: auto; margin-right: auto; padding-right: 0.5%;">
                        <label for="precio" class="form-label">Precio</label>
                        <input type="text" class="form-control" id="precio" readonly>
                    </div>
                    <div class="mb-3" style="width: 15%; margin-left: auto; margin-right: auto;">
                        <button type="button" style="width: 100%;" class="btn btn-secondary" onclick="agregarDetalle()">
                            Añadir Artículo
                        </button>
                    </div>
                </div>
            </div>

            <div class="container" style="margin-top: 5; margin-bottom: auto;">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <table id="detallesOrdenDeCompra" class="table table-striped">
                            <caption>
                                Detalle de la orden de compra
                            </caption>
                            <thead>
                                <tr>
                                    <th class="centered">#</th>
                                    <th class="centered">Cantidad</th>
                                    <th class="centered">Artículo</th>
                                    <th class="centered">Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody_detalles"></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">
                Generar Orden de Compra
            </button>
        </form>

        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- Tu archivo JavaScript personalizado -->
        <script>
            let detalleCounter = 1;

            function actualizarPrecio() {
                const selectArticulo = document.getElementById('idArticulo');
                const selectedOption = selectArticulo.options[selectArticulo.selectedIndex];
                const precio = selectedOption.getAttribute('data-precio');
                document.getElementById('precio').value = precio;
            }

            function agregarDetalle() {
                const cantidad = parseFloat(document.getElementById('cantidad').value);
                const idArticulo = document.getElementById('idArticulo').value;
                const nombreArticulo = document.getElementById('idArticulo').selectedOptions[0].text;

                if (cantidad && idArticulo) {
                    const tableBody = document.getElementById('tableBody_detalles');
                    let existeDetalle = false;

                    // Iterar sobre las filas de la tabla para verificar si ya existe un detalle para el artículo seleccionado
                    for (let i = 0; i < tableBody.rows.length; i++) {
                        const row = tableBody.rows[i];
                        const idArticuloDetalle = row.cells[2].textContent; // El tercer cell es el nombre del artículo

                        if (idArticuloDetalle === nombreArticulo) {
                            // Si ya existe un detalle para el artículo, actualizar la cantidad
                            const cantidadExistente = parseFloat(row.cells[1].textContent);
                            const nuevaCantidad = cantidadExistente + cantidad;
                            row.cells[1].textContent = nuevaCantidad;

                            // Actualiza el valor del input oculto para la cantidad
                            row.querySelector('input[name^="detalles["]').value = nuevaCantidad;

                            existeDetalle = true;
                            break;
                        }
                    }

                    if (!existeDetalle) {
                        // Si no existe un detalle para el artículo, agregar un nuevo detalle a la tabla
                        const newRow = tableBody.insertRow();
                        const detalleIndex = tableBody.rows.length - 1;
                        newRow.innerHTML = `
                            <tr>
                                <td>${detalleCounter}</td>
                                <td>${cantidad}</td>
                                <td>${nombreArticulo}</td>
                                <td><button type="button" class="btn btn-danger" onclick="eliminarDetalle(this)">Eliminar</button></td>
                                <input type="hidden" name="detalles[${detalleIndex}].cantidad" value="${cantidad}" />
                                <input type="hidden" name="detalles[${detalleIndex}].idArticulo" value="${idArticulo}" />
                            </tr>
                        `;
                        detalleCounter++;
                    }

                    limpiarCampos();
                }
            }


            function eliminarDetalle(button) {
                const row = button.parentNode.parentNode;
                row.parentNode.removeChild(row);
                detalleCounter--;  // Reduce the counter when a row is removed
                // Optional: renumber the rows after one is removed
                const rows = document.querySelectorAll('#tableBody_detalles tr');
                rows.forEach((row, index) => {
                    row.cells[0].innerText = index + 1;
                    row.querySelector('input[type="hidden"]').name = `detalles[${index}].cantidad`;
                    row.querySelector('input[type="hidden"] + input').name = `detalles[${index}].idArticulo`;
                });
            }

            function limpiarCampos() {
                document.getElementById('cantidad').value = '1';
                document.getElementById('idArticulo').selectedIndex = 0;
                document.getElementById('precio').value = '';
            }

            document.getElementById('mainForm').addEventListener('submit', function(event) {
                event.preventDefault();  // Prevent form from submitting the default way

                const detallesTableBody = document.getElementById('tableBody_detalles');
                if (detallesTableBody.rows.length === 0) {
                    // No hay detalles agregados, mostrar alerta
                    alert('Por favor, agregue al menos un artículo antes de generar la orden de compra.');
                    return;  // Detiene el envío del formulario
                }

                const form = event.target;
                const detallesInputs = detallesTableBody.querySelectorAll('input[type="hidden"]');
                detallesInputs.forEach(input => {
                    const clone = input.cloneNode(true);
                    form.appendChild(clone);
                });

                // Submits the form programmatically if validation passes
                form.submit();
            });

        </script>
    </div>
</body>

</html>
