<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Factura</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            margin-top: 50px;
        }
        .btn {
            margin-right: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Crear Factura</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5">
            <form th:action="@{/facturas}" th:object="${factura}" method="post">
                <div class="mb-4">
                    <h3>¿Desea crear una nueva factura?</h3>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button type="submit" class="btn btn-success">Crear Factura</button>
                    <button type="button" class="btn btn-danger" onclick="window.history.back();">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
