<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Predicción de Demanda</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Seleccione el método de predicción:</h2>
        <a th:href="@{/articulos}" class="btn btn-secondary">Volver a Artículos</a>
    </div>

    <form id="formPromedioMovil" th:action="@{/calcularPromedioMovil}" method="post" class="my-4">

        <div class="form-group">
            <label for="demandaRealPM">Demanda Real (separada por comas):</label>
            <input type="text" th:value="${cantidadesDemanda}" id="demandaRealPM" name="demandaReal" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="periodosPM">Periodos:</label>
            <input type="number" id="periodosPM" name="periodos" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Calcular Promedio Móvil</button>
    </form>

    <div id="resultadoPromedioMovil" class="my-4"></div>


    <form id="formPromedioPonderado" th:action="@{/calcularPromedioPonderado}" method="post" class="my-4">
        <div class="form-group">
            <label for="demandaRealPP">Demanda Real (separada por comas):</label>
            <input type="text" th:value="${cantidadesDemanda}" id="demandaRealPP" name="demandaReal" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="coeficientesPP">Coeficientes (separados por comas):</label>
            <input type="text" id="coeficientesPP" name="coeficientes" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Calcular Promedio Ponderado</button>
    </form>

    <div id="resultadoPromedioPonderado" class="my-4"></div>

    <form id="formSuavizacionExponencial" th:action="@{/calcularSuavizacionExponencial}" method="post" class="my-4">
        <div class="form-group">
            <label for="demandaRealSE">Demanda Real (separada por comas --> Pronostico Anterior,Demanda real):</label>
            <input type="text" th:value="${cantidadesDemanda}" id="demandaRealSE" name="demandaReal" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="alfaSE">Alfa (0 a 1):</label>
            <input type="number" id="alfaSE" name="alfa" class="form-control" step="0.01" min="0" max="1" required>
        </div>
        <button type="submit" class="btn btn-primary">Calcular Suavización Exponencial</button>
    </form>

    <div id="resultadoSuavizacionExponencial" class="my-4"></div>

</div>

<!-- JavaScript para actualizar resultados en la misma página -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Función para capturar el evento submit de los formularios
        $('form').submit(function (event) {
            event.preventDefault(); // Prevenir el envío del formulario por defecto

            var form = $(this); // Obtener el formulario actual
            var action = form.attr('action'); // Obtener la URL de acción del formulario

            // Hacer una solicitud POST al endpoint del formulario
            $.post(action, form.serialize(), function (data) {
                // Actualizar el contenido de resultados según el método utilizado
                if (action.includes("calcularPromedioMovil")) {
                    $('#resultadoPromedioMovil').html(data); // Actualizar resultados de promedio móvil
                } else if (action.includes("calcularPromedioPonderado")) {
                    $('#resultadoPromedioPonderado').html(data); // Actualizar resultados de promedio ponderado
                } else if (action.includes("calcularSuavizacionExponencial")) {
                    $('#resultadoSuavizacionExponencial').html(data); // Actualizar resultados de suavización exponencial
                }
            });
        });
    });
</script>

</body>
</html>
