<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background-color: #ffffff; /* Color de fondo blanco */
            font-family: Arial, sans-serif;
        }
        .container {
            margin-top: 50px;
        }
        .btn-primary {
            margin: 10px;
            font-size: 1.2rem;
            padding: 15px 20px; /* Aumentamos el padding para más separación */
        }
        .btn-group-vertical {
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="text-center">
        <h1 class="mb-4">Bienvenido a la Página de Inicio</h1>
        <div class="btn-group-vertical">
            <a th:href="@{/maestrofactura}" class="btn btn-primary">Modulo de Ventas</a>
            <a th:href="@{/maestroinventario}" class="btn btn-primary">Modulo de Inventarios</a>
            <a th:href="@{/articulos}" class="btn btn-primary">Modulo de Artículos</a>
            <a th:href="@{/categorias}" class="btn btn-primary">Lista de categorias de articulos</a>
            <a th:href="@{/ordenDeCompra/list}" class="btn btn-primary">Modulo de Ordenes de Compra</a>
            <a th:href="@{/proveedor/list}" class="btn btn-primary">Lista de Proveedores</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF1rZIc0Pj5cQ2sg8QhuYJovJtB1RrJq9sFW2aA5EGu" crossorigin="anonymous"></script>
</body>
</html>

