<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registro de Categorias</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class="text-center">Registro de Categorias</h1>
      <div class="card-body">
        <form th:action="@{/categorias}" th:object="${categoria}" method="POST">
          <div class="form-group">
            <label>Nombre: </label>
            <input type="text" name="nombre" th:field="*{nombreCategoria}" class="form-control" placeholder="Digite el nombre de la categoria">
          </div>
          <br>
          <div class="form-group">
            <label>Fecha Baja: </label>
            <input type="text" name="fechaBaja" th:field="*{fechaBaja}" class="form-control" placeholder="Digite la fecha de baja de la categoria">
          </div>
          <div class="form-group">
            <label>Tipo Modelo Inventario: </label>
            <select th:field="*{tipoModeloInventario}" class="form-control">
              <option th:each="tmi : ${tiposModeloInventario}" th:value="${tmi.id}" th:text="${tmi.nombreTMI}">Tipo Modelo Inventario</option>
            </select>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-success">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

