<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultados de Predicción de Demanda</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h2>Resultados de Predicción de Demanda</h2>

    <!-- Card de Resultados -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Detalles de Predicción</h5>
            <div class="card-text">
                <p><strong>Método utilizado:</strong> <span th:text="${metodo}"></span></p>
                <p><strong>Predicción:</strong> <span th:text="${prediccion}"></span></p>
                <p><strong>Error:</strong> <span th:text="${error}"></span></p>
                <p><strong>Error Absoluto:</strong> <span th:text="${errorAbsoluto}"></span></p>
            </div>
        </div>
    </div>

</div>
</body>
</html>





