<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultado de Cálculo de Variables</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Resultado de Cálculo de Variables</h1>
            <hr>
            <h3>Punto de Pedido: <span th:text="${inventarioArticulo.puntoPedido}"></span></h3>
            <h3>Lote Fijo: <span th:text="${inventarioArticulo.loteFijo}"></span></h3>
            <h3>Stock de Seguridad: <span th:text="${inventarioArticulo.stockSeguridad}"></span></h3>
            <hr>
            <!-- Corregimos el enlace para volver al listado de artículos -->
            <a th:href="@{'/inventarios/' + ${inventarioArticulo.inventario.id} + '/inventarioArticulos'}" class="btn btn-primary">Volver al Listado de Artículos</a>
        </div>
    </div>
</div>
</body>
</html>